@font-face {
    font-family: 'merkinregular';
    src: url('../fonts/merkin.regular-webfont.woff2') format('woff2'),
         url('../fonts/merkin.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

body {
    font-family: 'merkinregular';
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
}

h1 {
    font-size: 5rem;
    color: #044389;
}

h2 {
    font-size: 1.25rem;
    letter-spacing: 1px;
}

h3 {
    font-size: 1rem;
}

label {
    display: block;
    position: relative;
    cursor: pointer;
    text-align: left;
    padding-left: 35px;
    margin-bottom: 5px;
}

button {
    background-color: #0c8346;
    color: #fff;
    font-family: 'merkinregular';
    font-size: 1.25rem;
    border: none;
    padding: 5px 21px;
    cursor: pointer;
}

::placeholder {
    font-family: 'merkinregular';
    color: #fff;
}

#canvas {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

.remove-page {
    display: none;
}

.blue-background {
    border: 10px solid #ff9505;
    background-color: #044389;
}

.orange-background {
    background-color: #ff9505;
}

.menu-buttons {
    display: block;
    margin: 25px auto;
    width: 200px;
    height: 60px;
}

.text-center {
    text-align: center;
}

.regular-button {
    margin-top: 20px;
    width: 165px;
}

.settings {
    width: 150px;
    margin: 0 auto;
}

.settings-radio {
    position: absolute;
    top: 3px;
    left: 0;
    display: inline-block; 
    background-color: transparent;
    border: 5px solid #044389;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.hide-radio {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.hide-radio:checked ~ .settings-radio {
    background-color: #0c8346;
}

.hide-radio:hover ~ .settings-radio {
    background-color: #0c8346;
    opacity: 0.4;
}

#player-name {
    background-color: #044389;
    border: 0;
    height: 50px;
    width: 200px;
    font-family: 'merkinregular';
    color: #fff;
}

#player-name:focus {
    outline: none;
    border: 3px solid #0c8346;
}

#settings-heading {
    margin-top: 0px;
}

#game-indicators {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px;
    font-size: 0.75rem;
}

#quit-button {
    font-size: 0.5rem;
    background-color: #e84855;
}

#h-separator {
    border: 2px solid #ff9505;
    border-radius: 5px;
    background-color: #ff9505;
    width: 400px;
}

#flex-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
}

#player-one-name, #player-two-name {
    color: #ff9505;
}

#player-one-numbers {
    text-align: right;
}

#player-two-numbers {
    text-align: left;
}

.player-numbers span {
    display: block;
    margin-top: 10px;
}

.player-numbers span:not(#player-one-name, #player-two-name) {
    letter-spacing: 5px;
}

#num-separator {
    border: 2px solid #ff9505;
    border-radius: 5px;
    background-color: #ff9505;
    width: 0;
    height: auto;
    margin: 36px 36px 0;
}

#num-modal .modal-data, #round-modal .modal-data, #game-over-modal .modal-data {
    background-color: #ff9505;
}

#number-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 30px;
}

#num-modal-btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#player-one-ones, #player-two-ones {
    letter-spacing: 9px !important;
}

#player-one-twos, #player-two-twos {
    letter-spacing: 5.5px !important;
}

#player-one-threes, #player-two-threes {
    letter-spacing: 6px !important;
}

#player-one-fives, #player-two-fives {
    letter-spacing: 6.5px !important;
}

#player-one-sixes, #player-two-sixes {
    letter-spacing: 5.5px !important;
}

#player-one-sevens, #player-two-sevens {
    letter-spacing: 6.5px !important;
}

#player-one-eights, #player-two-eights {
    letter-spacing: 5.5px !important;
}

#player-one-nines, #player-two-nines {
    letter-spacing: 5.5px !important;
}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 3.5rem;
    }
    
    #canvas {
        top: 45%;
    }

    #h-separator {
        width: 80%;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="password"] {
        font-size: 1rem;
    }
}